@import url("style.css");
@import url("menu.css");

#titlebar {
	display: block;
	position: fixed;
	height: 32px;
	width: calc(100% - 2px); /*Compensate for body 1px border*/
	background: #15ab87;
	padding: 4px;
	color: #fff;
}

#titlebar #drag-region {
	width: 100%;
	height: 100%;
	-webkit-app-region: drag;
	display: grid;
	grid-template-columns: auto 138px;
}

#window-title {
	grid-column: 1;
	display: flex;
	align-items: center;
	margin-left: 8px;
	overflow: hidden;
	font-family: "Segoe UI", sans-serif;
	font-size: 12px;
}

#window-title span {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	line-height: 1.5;
}

#window-controls {
	display: grid;
	grid-template-columns: repeat(2, 46px);
	position: absolute;
	top: 0;
	right: 8px;
	height: 100%;
	-webkit-app-region: no-drag;
}

#window-controls .button {
	grid-row: 1 / span 1;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	user-select: none;
}

#window-controls .button:hover {
	background: rgba(255, 255, 255, 0.1);
}

#window-controls .button:active {
	background: rgba(255, 255, 255, 0.2);
}

#min-button {
	grid-column: 1;
}
#close-button {
	grid-column: 2;
}
#close-button:hover {
	background: #e81123 !important;
}
#close-button:active {
	background: #f1707a !important;
}
#close-button:active .icon {
	filter: invert(1);
}

@media (-webkit-device-pixel-ratio: 1.5),
	(device-pixel-ratio: 1.5),
	(-webkit-device-pixel-ratio: 2),
	(device-pixel-ratio: 2),
	(-webkit-device-pixel-ratio: 3),
	(device-pixel-ratio: 3) {
	#window-controls .icon {
		width: 10px;
		height: 10px;
	}
}